<%= render 'shared/page_title', title: "Acesse a sua conta"%>

<%= form_for(:session, :html => {class: "form-horizontal", 
                        role: "form"}, url: login_path) do |f| %>
<div class="form-group">
    <div class="control-label col-md-2">
        E-mail
    </div>
    <div class="col-md-8">
        <%= f.email_field :email, class: "form-control", 
                            placeholder: "Digite seu email cadastrado" %>
    </div>
</div>

<div class="form-group">
    <div class="control-label col-md-2">
        Senha
    </div>
    <div class="col-md-8">
        <%= f.password_field :password, class: "form-control", 
                        placeholder: "Digite sua senha" %>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <%= f.submit "Entrar", class: 'btn btn-primary btn-lg btn-xlarge' %>
    </div>
</div>
<% end %>
<div class="col-md-4 col-md-offset-4 colormatch">
    [ <%= link_to "Voltar à listagem de Cards", 
                                                    cards_path %> ]
</div>