<%= render 'shared/page_title', title: "#{@user.username}"%>

<div class="row">
    <div class= "col-md-4 col-md-offset-4 center">
        <%= gravatar_for @user, size: 150%>
    </div>
</div>
<%if @user.cards.count != 0%>
    <div align="center" >
        <h4 >FlashCards do(a) <%=@user.username%></h4><br>
        <%= will_paginate @user_cards, previous_label: '<- Anterior', next_label: 'Próxima ->'%>
    </div>

    <%= render 'cards/card', obj: @user_cards%>

    <div align="center">
        <%= will_paginate @user_cards, previous_label: '<- Anterior', next_label: 'Próxima ->'%>
    </div>
<% else %>
    <h4 align="center">Usuário ainda não postou cards</h4>
<% end %>