<%= render 'shared/page_title', title: "Edite o FlashCard" %>

<% if @card.errors.any? %>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <%= pluralize(@card.errors.count, "error") %>
                    <%= @card.class %> prohibited from being saved:
                </h2>
                <div class="panel-body">
                    <ul>
                        <% @card.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>

<div class="row">
    <div class="col-md-12">
        <%= form_for(@card, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
            <div class="control-label col-md-2">
                Palavra
            </div>
            <div class="col-md-8">
                <%= f.text_field :word, class: "form-control", placeholder: "Nome do Card", 
                    autofocus: true %>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                Pontuação
            </div>
            <div class="col-md-8">
                <%= f.text_field :points, class: "form-control", placeholder: "Pontuação atrelada à nova palavra", 
                    autofocus: true %>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">
                Detalhes
            </div>
            <div class="col-md-8">
                <%= f.text_area :description, rows: 10, class: "form-control", 
                                    placeholder: "Descreva a palavra. Inclua exemplos em frases e dicas de percepção" %>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
            </div>
        </div>
        <% end %>
        <div class="col-md-4 col-md-offset-4 colormatch">
            [ <%= link_to "Voltar à listagem de Cards", cards_path %> ]
        </div>
    </div>
</div>