<%= render 'shared/page_title', title: @card.word %>
<div class="well col-md-8 col-md-offset-2">
    <h4 class="center description"><strong>Sobre a palavra</strong></h4>
    <hr />
    <%= simple_format (@card.description)%>
    <hr />
    <div class="pull-right"> 
        <p class="center">
            <em>Criado por: </em>
        </p>
        <p class="center">
            <%= link_to gravatar_for(@card.user), cards_path %>
        </p>
        <p class="center">
            <small>Instrutor <%=@card.user.username.capitalize%></small>
            <div class="pull-right"><%= time_ago_in_words(@card.created_at)%> ago.</div>
        </p>
    </div>
</div>

